<?xml version="1.0" encoding="UTF-8"?>
<CORSConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/">
  <CORSRule>
    <ID>relay-browser-upload</ID>
    <AllowedOrigin>https://relay.zaftech.co</AllowedOrigin>
    <AllowedMethod>PUT</AllowedMethod>
    <AllowedHeader>content-type</AllowedHeader>
    <AllowedHeader>content-md5</AllowedHeader>
    <AllowedHeader>if-none-match</AllowedHeader>
    <AllowedHeader>x-amz-checksum-sha256</AllowedHeader>
    <AllowedHeader>x-amz-meta-relay-upload-id</AllowedHeader>
    <AllowedHeader>x-amz-meta-relay-sha256</AllowedHeader>
    <ExposeHeader>etag</ExposeHeader>
    <ExposeHeader>x-amz-version-id</ExposeHeader>
    <MaxAgeSeconds>300</MaxAgeSeconds>
  </CORSRule>
  <!-- Remove this rule unless browser-direct reads are enabled. -->
  <CORSRule>
    <ID>relay-browser-read</ID>
    <AllowedOrigin>https://relay.zaftech.co</AllowedOrigin>
    <AllowedMethod>GET</AllowedMethod>
    <AllowedMethod>HEAD</AllowedMethod>
    <ExposeHeader>accept-ranges</ExposeHeader>
    <ExposeHeader>content-length</ExposeHeader>
    <ExposeHeader>content-range</ExposeHeader>
    <ExposeHeader>content-type</ExposeHeader>
    <ExposeHeader>etag</ExposeHeader>
    <ExposeHeader>x-amz-version-id</ExposeHeader>
    <MaxAgeSeconds>300</MaxAgeSeconds>
  </CORSRule>
</CORSConfiguration>
